:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Typography */
html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: bold;
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links  */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: " -->";
  margin-left: 5px;
  transition: margin 0.25s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.4rem;
  }
}
/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: white;
}
.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.3rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* List  */
.list {
  list-style-type: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */

.icon {
  width: 50px;
  height: 50px;
  padding: 1rem;
}
.icon--large {
  width: 60px;
  height: 60px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9f8;
}
.icon-container--accent {
  background-color: var(--color-accent);
}
/* Buttons */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 40px;
  margin: 3px;
  cursor: pointer;
  white-space: nowrap;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--block {
  display: inline-block;
  width: 100%;
}
.btn--outline {
  border: 2px solid var(--color-headings);
  background-color: transparent;
  color: var(--color-headings);
}
.btn--outline:hover {
  background-color: var(--color-headings);
  color: white;
}
.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background-color: #3a8ffd;
}
.btn--secondary {
  background: var(--color-secondary);
  color: white;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}
.btn--accent {
  background: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background-color: #ec3000;
}

/* input   */
.input {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3rem;
}
::placeholder {
  color: lightgrey;
}
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-shadow: 0px 0px 20px lightgrey;
  display: flex;
  width: 100%;
}
.input-group .input {
  border: 0;
  padding: 1.5rem 1rem;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px var(--color-border);
  margin: 5rem;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}
.card--primary .badge {
  background: #126de4;
}
.card--secondary .badge {
  background: #02cdf1;
}
/* plans */
.plan {
  transition: transform 0.5s;
}
.plan:hover {
  transform: scale(1.15);
  color: white;
}
.plan__name {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 30;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url("../images/popular.svg");
  width: 4rem;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
}
/* Media Objects */
.media {
  display: flex;
  flex-direction: row;
}
.media__image {
  margin: 1rem 2rem 0 0;
}
.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  font-size: 3rem;
  color: var(--color-body-darker);
  font-style: italic;
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote__line {
  position: relative;
  bottom: 12px;
}
.quote__author {
  margin-bottom: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 3rem;
}
.quotes__organization {
  font-size: 2rem;
  opacity: 0.4;
  color: var(--color-headings);
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quotes__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */
.testimonial {
  padding: 3rem;
}
.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  /* you should set width in percentage so image bacome responsive */
  width: 100%;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}
@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.5rem;
  }
}
/* Callout */
.callout {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}
.callout--primary {
  background: var(--color-primary);
  color: white;
}
.callout__content {
  text-align: center;
}
.callout__title {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}
.callout__text {
  font-size: 1.9rem;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 2fr auto;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
  .callout__content {
    text-align: left;
  }
}

/* Collapsible */
.collapsible {
  padding: 2rem 2rem;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  color: white;
  margin: 0;
  font-size: 3rem;
}
.collapsible__content {
  /* you cant add transition to display property so instead use max-hight */
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible .list {
  margin-top: 1rem;
}
.collapsible__chevron {
  transition: transform 0.3s;
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
