<section class="block container block-feature">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p class="feature__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id
          mollitia nisi soluta modi sed!
        </p>
        <a
          class="link-arrow"
          href="http://google.com"
          target="_blank"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/easy.png 1x, images/easy@2x.png 2x"
        />

        <img src="images/easy.jpg" alt="easy to use" class="feature__image" />
      </picture>
    </article>

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p class="feature__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id
          mollitia nisi soluta modi sed!
        </p>
        <a
          class="link-arrow"
          href="http://google.com"
          target="_blank"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/fast.png 1x, images/fast@2x.png 2x"
        />

        <img src="images/fast.jpg" alt="fast to use" class="feature__image" />
      </picture>
    </article>

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Wordpress Made Easy</h3>
        <p class="feature__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id
          mollitia nisi soluta modi sed!
        </p>
        <a
          class="link-arrow"
          href="http://google.com"
          target="_blank"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/wordpress.png 1x, images/wordpress@2x.png 2x"
        />

        <img
          src="images/wordpress.jpg"
          alt="access to wordpress"
          class="feature__image"
        />
      </picture>
    </article>

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p class="feature__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id
          mollitia nisi soluta modi sed!
        </p>
        <a
          class="link-arrow"
          href="http://google.com"
          target="_blank"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/support.webp 1x, images/support@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/support.png 1x, images/support@2x.png 2x"
        />

        <img
          src="images/support.jpg"
          alt="support to use"
          class="feature__image"
        />
      </picture>
    </article>
  </header>
</section>
