<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron" id="collapsible__btn">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li class="list__item">sadegh</li>
      <li class="list__item">sina</li>
      <li class="list__item">reza</li>
      <li class="list__item">sajad</li>
    </ul>
  </div>
</div>
<!-- NOTE: Add script at the end of body section. -->
<script src="js/main.js"></script>
